<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxh.speedsale_system.mapper.SpeedKillOrderMapper">
    <!-- 插入订单明细。如果主键冲突会直接报错，可使用`ignore`实现主键冲突就直接返回0，表示更新失败 -->
    <insert id="insertOrder">
        INSERT ignore INTO `order` (userId, goodsId, money)
        values (#{userId}, #{goodsId}, #{money})
    </insert>

    <select id="findByUserIdAndGoodsId" resultType="OrderDetailDO">
        select * from `order` where userId = #{userId} and goodsId = #{goodsId}
    </select>
</mapper>